.container{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #f8f8f8;
    background-image: url('src/assets/img/blue-degrade-vector.jpg');
    background-repeat: repeat;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.horizontal-aling{
    display: flex;
    align-items: center;
    align-content: space-around;
}

img{
    max-width: 300px;
    background-color: transparent;
}

.base-container{
    height: 600px;
    padding: 15px;
    margin: 0px;
    transition-duration: 0.3s;
    display: flex;
    justify-content: space-around;
}
