<div class="background">
</div>
  <div id="intro-video">
    <video width="320" height="240" class="master-video" autoplay muted loop playsinline>
          <source src="assets/videos/video_web_optimised_3mb.mp4" type="video/mp4">
    </video>
    <div id="video-fade"></div>
    <div id="intro-content">
        <div id="intro-images">
          <div class="center-img"><img src="assets/img/logoChart.svg"></div>
          <div class="center-img"><img src="assets/img/plus.png"></div>
          <div class="center-img"><img src="assets/img/logoAngular.svg"></div>
        </div>
        <br>  
        <br>
        <h1 id="title" class="text-center">Make your data come alive</h1>
        <h4 id="sub-title" class="text-center">Highcharts and Angular makes it easy to set up interactive charts</h4>
        <br>
        <br>
        <button type="button" class="btn btn-success" (click)="onClickMe()">GO TO CHARTS</button>
    </div>
</div>
