<div class="no-margin-top content">

  <div class="row">

    <div class="col-xl-3 base-container vertical-aling" id="olympic">
      <div class="title text-center">
          <h2>Stream Graph</h2>
          <p>Is a type of stacked area graph which is displaced around a central axis, resulting in a flowing, organic shape</p>
      </div>
      <div class="chart-image">
          <img src="assets/img/streamgraph.svg" />
      </div>
      <div class="link-button">
          <button type="button" class="btn btn-danger" (click)="olympic()">GO TO CHART</button>
      </div>
    </div> 
    
    <div class="col-xl-3 base-container vertical-aling" id="population">
        <div class="title text-center">
            <h2>Sunburst Graph</h2>
            <p>Shows hierarchy through a series of rings, that are sliced for each category node</p>
        </div>
        <div class="chart-image">
            <img src="assets/img/sunburst.png" />
        </div>
        <div class="link-button">
            <button type="button" class="btn btn-success" (click)="population()">GO TO CHART</button>
        </div>
      </div> 

    <div class="col-xl-3 base-container vertical-aling" id="marathon">
      <div class="title text-center">
          <h2>Parallel Coordinates</h2>
          <p>Parallel coordinates are a common way of visualizing high-dimensional geometry and analyzing multivariate data</p>
      </div>
      <div class="chart-image">
          <img src="assets/img/parallelcoordinates.png" />
      </div>
      <div class="link-button">
          <button type="button" class="btn btn-primary" (click)="marathon()">GO TO CHART</button>
      </div>
    </div> 

    <div class="col-xl-3 base-container vertical-aling" id="mortality">
      <div class="title text-center">
          <h2>Tree Map</h2>
          <p>A method for displaying hierarchical data using nested figures, usually rectangles</p>
      </div>
      <div class="chart-image">
          <img src="assets/img/treemap.png" />
      </div>
      <div class="link-button">
          <button type="button" class="btn btn-warning" (click)="mortality()">GO TO CHART</button>
      </div>
    </div> 

  </div>
</div>

